@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco-principal: #fff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-primaria: 'Inter', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 400;
}

/* Configuração da seção principal */

.principal {
    background-image: url(imagem/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__titulo {
    font-weight: 700;
    font-size: 28px;
}
.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
}
.botao__secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}
.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}
.container__imagem {
    margin: 1em 0 2em 0;
}
.container__caixa {
    margin: 0 6em;
}

/* configuração da seção secundaria */

.secundario__imagem {
    width: 80%;
}
.secundario {
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.descricao__paragrafo {
    font-size: 16px;
    color: var(--cinza-secundario);
}

/* Configuração da terceira seção */

.secundario__botao {
    display: inline;
    margin-top: 1rem;
}
.container__descricao {
    padding: 2em;
}

/* Configurando a quarta Seção */

.imagem__secundario {
    width: 90%;
}

/* Configurando dispositivos */

.dispositivo__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.lista__item {
    font-size: 32px;
}
.dispositivos {
    text-align: center;
}
.dispositivos__titulo {
    font-size: 48px;
}

/* configurando o footer */

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.rodape__logo {
    align-items: center;
    margin: 2rem 0;
    width: 5%;
}
.rodape__lista {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 1rem;
}
.lista__link {
    font-size: 16px;
    text-decoration: none;
    color: var(--branco-principal);
}
.rodape__texto {
    margin-top: 0.5rem;
    font-size: 14px;
    color: var(--cinza-secundario);
}

.lista__link:hover {
    color: var(--botao-azul);
}